/* Default ----   < 400px */
header{
    background-color: #292524;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8px;

    border: 1px solid red;
}

.header-content
{
    display: flex;
    justify-content: flex-start;
}

header img{
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.menu {
    display: flex;  
    list-style: none;  
    margin: 0;  
    padding: 0;
    gap: 30px;

    border: 1px solid red;
}

.menu li{
    display: inline;

    border: 1px solid red;
}

.menu a {
    text-decoration: none;  
    color: red; 
    font-size: 6pt; 
}
h1{
    border: 1px solid red;
}
/* ===================== MEDIA QUERY  400px - 800px  =================================      */
@media (min-width:400px)
{

    header {
        height: 80px; 
        padding: 10px;
    }

    header img {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }
    

    .menu a {
        color: blue; 
        font-size: 8pt; 
    }

}

/* ===================== MEDIA QUERY  801px - 1200px  =================================      */

@media (min-width:801px){

    header {
        height: 100px; 
        padding: 9px;
    }

    header img {
        width: 50px;
        height: 50px;
        margin-right: 12px;
    }

    .menu a {
        color: green; 
        font-size: 10pt; 
    }

        
}

/* ===================== MEDIA QUERY  1201px - 1600px  =================================      */

@media (min-width:1201px){

    header {
        height: 120px; 
        padding: 20px;

    }

    header img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .menu a {
        color: yellow; 
        font-size: 12pt; 
    }

}

/* ===================== MEDIA QUERY  1601px  =================================      */
@media screen and (min-width:1601px){

    header {
        height: 140px; 
        padding: 25px;
    }

    header img {
        width: 70px;
        height: 70px;
        margin-right: 12px;
    }

    .menu a {
        color: orange; 
        font-size: 14pt; 
    }

}
