
/* Default ----   < 400px */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Calibri';
    font-size: 6pt;
    color: red;
}
body{
    /* background: [imagen]; */
    width: 100vw;
    height: 100vh;
     background: url(../img/seamless04.png);
}



/* ===================== MEDIA QUERY  400px - 800px  =================================      */
@media (min-width:400px){


html{
    font-size: 8pt;
    color: blue;
    font-family: 'Cambria';
}

body{
    /* background: [imagen]; */
    background-color: black;
     background: url(../img/seamless08.png);
}
}

/* ===================== MEDIA QUERY  801px - 1200px  =================================      */

@media (min-width:801px){


html{
    font-size: 10pt;
    color: green;
    font-family: 'Comic Sans MS';
}

body{
    /* background: [imagen]; */
    background-color: gray;
     background: url(../img/seamless09.png);
}
    
}


/* ===================== MEDIA QUERY  1201px - 1600px  =================================      */
@media (min-width:1201px){


html{
    font-size: 12pt;
    color: yellow;
    font-family: 'Times New Roman';
}

body{
    /* background-color: lightgray; */
     background: url(../img/seamless06.png); 
}
    
}

/* ===================== MEDIA QUERY  1601px  =================================      */
@media screen and (min-width:1601px){


html{
    font-size: 14pt;
    color: orange;
    font-family: 'Courier New';
}

body{
    /* background-color: lightblue; */
     background: url(../img/seamless10.png); 
}
    
}
