/* Default ----   < 400px */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Calibri;
    font-size: 6pt;
    color: red;
}
body{
    /* background: [imagen]; */
    width: 100%;
    height: 100%;
}

/* ===================== MEDIA QUERY  400px - 800px  =================================      */

/* ===================== MEDIA QUERY  801px - 1200px  =================================      */

/* ===================== MEDIA QUERY  1201px - 1600px  =================================      */

/* ===================== MEDIA QUERY  1601px  =================================      */

