 body{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
 }
 main{
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
 }
 a{
    color: inherit;
}
.sec1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.sec2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;


}
.sec3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
}
.sec3 img{
    width: 10vw;
    gap: 5%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
article{
    width: 100%;
}

.texto{
    text-align: justify;
    margin: 30px;
}
section img {
    width: 80%;
}
.imagenRotada{
    justify-content: right;
    transform: scaleX(-1);
}
@media (min-width:1200px){
    .sec1{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 6%;
    }
    .sec2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        gap: 6%;
    
    }
    
    article{
        width: 50%;
    }
    section img {
        width: 40%;

    }
}
    